.p_wrapper {
    margin-top: 70px;
}

.dbl_col_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    padding: 0 8vw;
    gap: 10vw;
    margin-bottom: 10vh;
}

.dbl_col {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 40%;

    p{
        padding: 2vh 0;
        text-align: start;
        font-size: calc(var(--index) * 1);
        line-height: calc(var(--index) * 1.5);
    }
    h2 {
        padding: 32px 0;
        text-align: start;
        margin: 0;
    }
    ul {
        li{
            margin-inline-start: 2vw;
            font-family: "Roboto Condensed", sans-serif;
            letter-spacing: 1px;
            font-size: calc(var(--index) * 1);
            line-height: calc(var(--index) * 1.5);
        }
    }
}