.dbl_col_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: fit-content;
    padding: 0 8vw;
    gap: 10vw;
    margin-bottom: calc(var(--index) * 3);
}

.dbl_col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 50vw;

    h2 {
        padding: 32px 0;
        text-align: start;
        margin: 0;
    }
    ul {
        li{
            margin-inline-start: 2vw;
            font-family: "Roboto Condensed", sans-serif;
            letter-spacing: 1px;
            font-size: calc(var(--index) * 1);
            line-height: calc(var(--index) * 1.5);
        }
    }
}