/* ========== RESET & BASE ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --index: calc(1vw + 1vh);
  --wa-color: #125956;
  --wa-size: 60px;
  background-color: #fcfdfb;
}

html {
  scroll-padding-top: 70px; /* высота header */
  overflow-x: hidden;
  background-color: #fcfdfb;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  color: #125956;
  background-color: #fcfdfb;
}

/* Ссылки и кнопки */
a {
  text-decoration: none;
  border: none;
  color: inherit;
}
button {
  border: none;
  cursor: pointer;
  background: none;
}

a:focus-visible,
button:focus-visible {
  outline: 2px dashed #33BEB3;
  outline-offset: 4px;
}
a, button, [role="button"], [onclick] {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Заголовки */
h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: calc(var(--index) * 2.2);
  text-transform: uppercase;
  text-align: center;
}
h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  font-size:  32px;
  letter-spacing: 1px;
}
h3 {
  font-weight: 500;
  font-size: calc(var(--index) * 1.4);
  line-height: calc(var(--index) * 1.5);
  letter-spacing: 1px;
}
p {
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 1px;
  font-size: calc(var(--index) * 1);
  line-height: 4.3vh;
}
.info_section {
  display: flex;
  flex-direction: column;
  padding: 0 8vw;
  margin-bottom: calc(var(--index) * 3);
  text-align: center;
  h2 {
    padding: 20px;
  }
  p{
    text-align: start;
  }
}
/* ========== HEADER ========== */
.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: 5;
}
.header.scrolled {
  background-color: #fcfdfb;
  box-shadow: 5px 7px 30px 5px darkseagreen;
}

.logo {
  display: flex;
  align-items: center;
  font-family: "Advent Pro", sans-serif;
  font-weight: bold;
  font-size: calc(var(--index) * 1.4);
  min-width: 16vw;
}
.logo .second_part_logo {
  color: #33BEB3;
}

/* ========== NAVIGATION ========== */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30vw;
}
.nav a {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.8vw;
  transition: color 0.3s ease;
}
.nav a:hover {
  color: #33BEB3;
}

.dropdown {
  position: relative;
}
.dropdown-btn {
  font-size: 1.8vw;
  text-transform: uppercase;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fcfdfb;
  min-width: 26vw;
  box-shadow: 0 8px 16px 0 darkseagreen;
  border-radius: 4px;
  overflow: hidden;
  z-index: 10;
}
.dropdown-content a {
  display: block;
  padding: 9px 16px;
  color: #125956;
  border-bottom: 1px solid #33BEB3;
  transition: background-color 0.3s;
}
.dropdown-content a:hover {
  background-color: #f2f6ee;
  color: #33BEB3;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropdown-btn {
  color: #33BEB3;
}

/* ========== SWIPER ========== */
.slider_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  margin-bottom: calc(var(--index) * 3);
}
.slider_wrapper .swiper-button-prev,
.slider_wrapper .swiper-button-next {
  width: 24px;
  height: 24px;
  color: #33BEB3;
}

.slider_wrapper .swiper { position: relative; }
.slider_wrapper .swiper-button-prev,
.slider_wrapper .swiper-button-next {
  top: 50%;
  transform: translateY(-50%);
}

.slider_wrapper .swiper {
  width: 97%;
  height: auto;
}

.slider_wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding:0 10px;
}

.slider_wrapper .swiper-pagination {
  position: relative;
  text-align: center;
  margin-top: 20px;
}
.slider_wrapper .swiper-pagination-bullet {
  background-color: #ccc;   /* неактивная точка */
  opacity: 0.5;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Активная точка */
.slider_wrapper .swiper-pagination-bullet-active {
  background-color: #33BEB3;  /* твой фирменный цвет */
  opacity: 1;
  transform: scale(1.2);
}
/* ========== TEL ========== */
.tel {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.9vw;
  font-weight: 600;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
}
.tel img {
  width: 2.8vw;
  margin-right: 8px;
}

/* ========== FOOTER ========== */
.footer {
  margin-top: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: start;
  background-color: #B9F4D4;
  padding: 20px;
}
.footer_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_section a:hover {
  color: #33BEB3;
}
.create {
  margin-top: 10px;
  font-size: calc(var(--index) * 0.9);
}
.create:hover {
  color: #33BEB3;
}
.create_mobile {
  display: none;
}

/* ========== WHATSAPP========== */
.whatsapp {
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.3s ease;
  z-index: 1000;
  color: #125956;
}

.whatsapp:hover {
  transform: scale(1.2);
  color: #33BEB3;
}

/* ========== ORDER CONSULTATION BUTTON ========== */
.order_consultation {
  background-color: #125956;
  padding: 12px 20px;
  width: fit-content;
  text-wrap: nowrap;
  color: white;
  font-size: calc(var(--index) * 0.8);
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 6px 12px darkseagreen;
}
.order_consultation:hover {
  background-color: #33BEB3;
  transform: scale(1.05);
}

/* ========== 404 ========== */
.not-found {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #125956;
}
.not-found_content {
  margin-top: 5vh;
  text-align: center;
  font-size: calc(var(--index) * 0.9);
  font-weight: 300;
}
.not-found button {
  margin-top: 3vh;
  padding: 12px 20px;
  border-radius: 25px;
  background-color: #125956;
  color: white;
  font-size: 2vh;
}

/* ========== RESPONSIVE ========== */
@media (max-width: 1030px) {
  h2{
    font-size: 1.2rem;
  }
  .nav {
    position: fixed;
    top: -300%;
    right: 0;
    width: 100%;
    min-height: 50dvh;
    flex-direction: column;
    background: #fcfdfb;
    transition: top 0.5s ease-in-out;
    z-index: 100;
  }
  .nav.active {
    top: 0;
  }
  .nav_link {
    font-size: calc(var(--index) * 1.6);
    margin-top: 10px;
    background-color: #B9F4D4;
    padding: 12px;
    width: 70vw;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .create {
    display: none;
  }
  .create_mobile {
    display: block;
    text-align: center;
    width: 100%;
    background-color: #caf6de;
    padding-bottom: 10px;
  }
  p{
    line-height: 27px;
    font-size: 1.4rem;
  }
}
@media (max-width: 678px) {
  .slider_wrapper {
    padding: 20px;
  }
  h3 {
    font-size: calc(var(--index) * 2);
    line-height: calc(var(--index) * 2.1);
  }
  .order_consultation{
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
}