.ia_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ia_content_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.ia_image_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}