.tpc_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.tpc_article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
}

.tpc_image_wapp {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: end;
    width: 40vw;
}